<!-- Quiz A -->
	<section name="quizA question1" class="quizA">
		<div class="QA_container">
			<h1><a href="#/">< MAIN MENU</a></h1>

			<div class="quiz_content">
				<p><h2>QUESTION 1</h2></p>
				<p>WHICH ATTACK SUITS YOU THE BEST?</p>
				
				<!-- Test Area -->
				<nav class="segmented">
				  <div class="col-xs-6 col-md-3">
					<input type="radio" name="A1" data-ng-model="Answers.answer" value="1" id="Q1-A">
					<label for="Q1-A">FLAMETHROWER</label></div>
				  <div class="col-xs-6 col-md-3">
				  	<input type="radio" name="A1" data-ng-model="Answers.answer" value="2" id="Q1-B">
				  	<label for="Q1-B">HYDRO PUMP</label></div>
				  <div class="col-xs-6 col-md-3">
				  	<input type="radio" name="A1" data-ng-model="Answers.answer" value="3" id="Q1-C">
				  	<label for="Q1-C">SOLARBEAM</label></div>
				  <div class="col-xs-6 col-md-3">
				  	<input type="radio" name="A1" data-ng-model="Answers.answer" value="4" id="Q1-D">
					<label for="Q1-D">SPLASH</label></div>
				</nav>
			</div>
<pre>
			<ul data-ng-repeat="answer in answers">
				<li>{{ answers.answer }}</li>
			</ul>
</pre>
			<div class="clearfix"></div>
				<a class="whitebutton" href="#/result">NEXT</a>
		</div>
	</section>